<form #form="ngForm" class="chat-form">
    <mat-form-field class="chat-input">
        <div class="text-danger">
            @if(message.errors?.['required'] && message.touched && message.dirty) {
                <span>Empty message</span>
            }
        </div>
        <textarea matInput name="message" #message="ngModel" [(ngModel)]="formObject.message" placeholder="Taper votre message..."></textarea>
    </mat-form-field>
    <button mat-icon-button type="submit" (click)="onSendMessage(form)" [disabled]="formObject.invalid">
        Envoyer
    </button>
</form>
  