.chat-container {
    flex:1;
    display: flex; // Permet de placer la sidebar et la conversation côte à côte
    flex-direction: row; // Organise horizontalement
    // justify-content: stretch; // Étire les enfants sur l'axe horizontal
    // align-items: stretch; // Aligne les enfants sur l'axe vertical

    .side-bar {
        width: 25%; // Largeur de la liste des contacts
        background-color: #f4f4f4;
        border-right: 1px solid #ddd;
        display: flex;
        flex-direction: column;
    }

    .conversation-container {
        flex:1;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
}